$header-bg: #000000;
$primary-color: #7832b1;
$text-color: #ffffff;
$header-height: 80px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: $header-bg;
  height: $header-height;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid $primary-color;

 .logoContainer img {
  height: 80px;      
  width: auto;       
  object-fit: contain;   
}

  .nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      &:hover { color: $primary-color; }
    }
  }

  // btn desktop
  .ctaButton {
    background-color: $primary-color;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  // btn mobile
  .ctaButtonMobile {
    display: none; 
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    .bar {
      width: 30px;
      height: 4px;
      background-color: $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }
}

// mobile regras
@media (max-width: 768px) {
  .header {
    .nav {
      position: fixed;
      top: $header-height;
      right: -100%;
      width: 80%;
      height: calc(100vh - #{$header-height});
      background-color: #0a0a0a;
      flex-direction: column;
      justify-content: center;
      transition: 0.4s ease-in-out;
      z-index: 999;

      &.navOpen { right: 0; }

      
      .ctaButtonMobile {
        display: block;
        margin-top: 2rem;
        background-color: $primary-color;
        color: white;
        padding: 1rem 2rem;
        border: none;
        width: 80%;
        font-weight: bold;
        text-transform: uppercase;
      }

      
    }

    .hamburger { display: flex; }
    .ctaButton { display: none; } 
  }
}